.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}
.col-sm-6 {
    width: 46%;
    margin-left: 25px;
    border: 1px solid;
    margin-bottom: 10px;
}

@media (min-width: 768px)
.col-sm-6 {
    width: 48%;
    margin-left: 15px;
    border: 1px solid;
    margin-bottom: 10px;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 47%;
}